@import "./_colors-primitive.css";

:root {
  /* テーマカラー */
  --color-primary: var(--primitive-brown-600);
  --color-primary-op50: var(--primitive-brown-600-op50);
  --color-secondary: var(--primitive-ivory-50);
  --color-secondary-op50: var(--primitive-ivory-50-op50);
  --color-accent-pink: var(--primitive-pink-200);
  --color-accent-green: var(--primitive-green-700);

  /* 文字色 */
  --color-text-primary: var(--primitive-black);
  --color-text-secondary: var(--primitive-gray-700);
  --color-text-disabled: var(--primitive-gray-400);
  --color-text-accent-pink: var(--primitive-pink-200);

  /* 背景色 */
  --color-background-primary: var(--primitive-white);
  --color-background-secondary: var(--primitive-ivory-50);
  --color-background-accent-pink: var(--primitive-matrial-red-50);

  /* ステータス */
  --color-error: var(--primitive-matrial-red-500);
  --color-success: var(--primitive-green-500);
  --color-warning: var(--primitive-brown-300);
  --color-info: var(--primitive-material-blue-500);
} 